@font-face {
    font-family: 'kingthings_exeterregular';
    src: url('../polices/web_fonts/kingthingsexeter_regular_macroman/Kingthings_Exeter-webfont.woff') format('woff')
}

body 
{
  background-image: url(../fond_secret_santa.png);
}

#fonctionnalite
{
    position: absolute;
    text-align: center;
    left: 595px;
    top: 230px;
    font-size: x-large;
}

#entree 
{
    font-size: 40px;
    margin-right: 10px;
    font-family: 'kingthings_exeterregular';
    color: brown;
    text-shadow: 3px 3px 8px rgb(213, 216, 29);
}

#in, #selectName
{
    margin: 15px;
    border-radius: 7px;
    margin-right: 60px;
    font-family: 'kingthings_exeterregular';
    font-size: large;
}    

#valid, #suppName
{
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: gold;
}

#valid
{
    background-color: darkgreen;
    margin-right: 10px;
}

#suppName
{
    background-color: crimson;
    
}

#displayResult
{
    padding: 30px;
    border-radius: 15px;
    font-size: large;
    background-image: url(../red-green-background1.png);
    font-family: 'kingthings_exeterregular';
    font-size: 21px;
    color: gold;
    box-shadow: 6px 6px 10px black;
    text-shadow: 3px 3px 5px black;
    margin-left: -5px;
}

#in
{
    padding: 10px;
    margin-right: 25px;
}

#finish
{
    border-radius: 8px;
    font-weight: bold;
    padding: 13px; 
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'kingthings_exeterregular';
    font-size: 20px;
    background-color: gold;
    color: brown;
    box-shadow: 6px 6px 10px black;
    margin-top: -5px;
    margin-bottom: 10px;
    
    
}

#selectName
{
    padding: 10px;
    margin-left: 45px;

}

#listPart
{
    margin-left: 1120px;
    margin-top: 40px;
    width: 240px;
    height: 230px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#inputList
{
 font-family: 'kingthings_exeterregular';
 font-size: 30px;
}

#Participant
{
    color: darkgreen;
    font-family: 'kingthings_exeterregular';
    text-decoration: underline;
    margin-top: 40px;
}

h1{
    margin-left: 1060px;
    margin-top: 45px;
}

